############################################
# Core Node
############################################
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################
# Build / transpile output
############################################
/dist
/build
# TypeScript incremental files
/*.tsbuildinfo          
/playground/.cache/

############################################
# Test artifacts (Jest, coverage, snapshots)
############################################
/coverage
*.lcov
jest-test-results.json
# Jest snapshot files
*.snap                 

############################################
# Env & secrets
############################################
.env
.env.*                 # .env.dev, .env.local, etc.

############################################
# Editor-specific folders
############################################
/.vscode
/.idea
*.suo
*.ntvs*
*.njsproj
*.sln

############################################
# OS / misc
############################################
.DS_Store
Thumbs.db